body {
    margin: 20px;
    line-height: 180%;
    width: 1080px;
}



.nav__container {
    background: #be9f36;

    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navbar {
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 20px;
    position:absolute;
    margin: 20px;
    width: auto;  
}

.nav__menu {
    overflow: hidden;
    height: 60px;
    background: #be9f36;
}

.nav__menu ul {
    display: flex;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}
.nav__menu a {
    color: black;
    text-decoration: none;
    margin-right: 2rem;
    float: center;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.598);
    padding: 20px;
}

main {
    background: white;
    margin-top: 400px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
 
    height: 400px;
    margin-left: 150px;
}

.card{
    flex:1;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    background: lightgray;
    height: 400px;
    margin-top: 20px;
 }

.cards .card img{

    margin-top: 10px;
    width: 300px;
    background: rgb(255, 196, 0);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    margin-left: 140px;
    color: black;
    background: rgb(171, 134, 13);
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    margin-left: 80px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
}
.info {
    background: #be9f36;
    height: 242px;
}

.info h1 {
text-align: center;
padding-top: 20px;
font-size: 40px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info h2 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    height: 345px;
    background: rgb(249, 246, 246);
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-column-gap:10px;
    grid-row-gap: 10rem;
}