body {
    display: block;
    margin: 20px auto;
    width: 50%;
}

header {
    background: #FCC630;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
}

.nav img {
width: 10%;
padding-right: 60px;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 100px;
    border: solid green;
}

.nav__menu {
    background: #FCC630;
    box-shadow: 3px 3px 5px rgba(0,0,0,3);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.nav__menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav__menu li {
    height: 2px;
    margin-left: 10px;
}

.nav__menu a {
    height: 100%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.598);
}

.search__box {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-top: 20px;
}

.search__input {
    font-size: inherit;
    border: 0.2em solid #FCC630;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    color: #FCC630;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.397);
}

.search__button {
    font-size: inherit;
    border: 0.2em solid #FCC630;
    border-radius: 0 0.5em 0.5em 0;
    background-color: rgba(0, 0, 0, 0.397);
    border-left: 0;
    padding: 0 0.75em;
}

main {
    background: white;
}

.cards{
    display: flex;
    gap: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: min-content;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
}

.card{
    flex: 1;
    width: 250px;
    height: 300px;
    background: #d3d3d3;
 }

.cards .card img{
    margin-top: 10px;
    width: 250px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

h1 {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 4px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #FCC630;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.info {
    background: #FCC630;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.info h1 {
text-align: center;
padding-top: 20px;
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 0 10px;
}

.info h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 18pxpx;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.splide .splide_slide img{
    width: 100%;
}

footer {
    height: 180px;
    background: #FCC630;
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-column-gap:10px;
    grid-row-gap: 1rem;
}

footer h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 14px;
}

.menu__items {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0px;
}

.menu__link {
   text-decoration: none;
   color: black;
}

.section__one {
    width: min-content;
    height: min-content;
    grid-column: 2/2;
    margin-top: 10px;
}

.section__two {
    width: min-content;
    height: min-content;
    grid-column: 3/3;
    margin-top: 10px;
}

.section__three {
    width: min-content;
    height: min-content;
    grid-column: 4/4;
    margin-top: 10px;
}

.section__four {
    width: 50%;
    height: min-content;
    grid-column: 5/5;
    margin-top: 10px;
}

footer img {
    width: 100px;
    grid-column: 6/6;
    padding-top: 30px;
    padding-right: 30px;
}

